
.intro-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #000;
  color: #fff;
  animation: fadeIn 1s ease-in-out, fadeOut 1s ease-in-out 3s forwards;
}

.intro-title {
  font-family: 'Nanum Myeongjo', serif;
  font-size: 10rem !important;
  font-weight: 800 !important;
  animation: slideIn 1s ease-in-out;
}

.intro-subtitle {
  font-family: 'Inter', sans-serif;
  font-size: 2rem !important;
  font-weight: 400 !important;
  animation: slideIn 1s ease-in-out;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}

@keyframes slideIn {
  from { transform: translateY(50px); opacity: 0; }
  to { transform: translateY(0); opacity: 1; }
}
